@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@media  (max-width: 1025px) {

.container {
    grid-template-columns: minmax(auto, 82px) minmax(auto, 940px);
    max-width: 1024px;
    position: relative;
} 

/* Фиксируем и убираем padding*/
 .sidebar {
    position: fixed;
    overflow: hidden;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}


/*
.sidebar-content a.logo {
    width: 70px;
    height: 74px;
}*/

/* .sidebar-content .title, .sidebar .sidebar-content .navigation, .sidebar-content .contact-information  {
    display: none;
}*/


.sidebar .settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;   
}

.sidebar .sidebar-content {
   display: none;
   padding-left: 30px;
   padding-right: 30px;
}

.menu-bar-icon {
    position: absolute;
    top: 50%;
    right: 30%;
}

.menu-bar-icon:before {
content: attr(data-logo);
width: 33px;
height: 9px;
color: white;
font-family: 'Roboto', sans-serif;
font-size: 12px;
font-weight: 700;
line-height: 20px;
text-align: center;
text-transform: uppercase;
position: absolute;
}

.menu-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
} 


/*   jquery  */

.change-btn {
    position: absolute;
    right: 0px;
    top: 0px;
}

.position {
    display: flex;
}

.none {
    display: none;
}

/* ___Brief_info___ */

.brief_info {
    left: 670px;
}
/* page_Content */
.container .page_Content {
position: absolute;
left: 55px;
padding: 0;
}
     /*  этажи */
     .first_floor:before {
        top:-36px;
        left: 50px;
       }
       .second_floor:before {
        top:-30px;
        left: -20px;
    }
  /*  Комплектация */
  .complectation {
    width: 924px;
    height: 640px;  
    margin-bottom: 28px;
}

.main_info .houses_built {    
    margin-left: 60px;
}
}