@media  (max-width:321px) {

.container {
display: flex;
flex-direction: column;
max-width: 767px;
height: 100%;
padding: 0;
position: relative;
}

.sidebar { 
    max-width: 320px;
    height: 81px;
    position: relative;
    overflow: hidden;
    z-index: 10;
    padding: 0;
    background: url('menu/sidebar.jpg') repeat;
    align-items: stretch;
   /* background: url('menu/bar-mini.png');*/
  /* top: 50%;
    right: 30%;*/
}

.menu-bar-icon {
    position: absolute;
    top: 35%;
    right: 10%;
}

.sidebar .sidebar-content {
    display: block;
    height: 81px;
    padding: 0;
}

.sidebar-content .logo, .sidebar-content .title, .sidebar-content .contact-information {
display: none;
}

.sidebar-content .navigation {
    width: 320px;
    height: 81px;
}

.navigation .header_nav {
    width: 100%;
    height: 81px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.header_nav li {
    font-size: 14px;
    padding: 0 0 0 10px;
    margin: 0;

}


.page_Content .banner {
    width: 320px;
    padding: 0;
}

.sidebar-content .logo .title {
display: none;
}

.brief_info  {
    left: 20px;
    right: 0;
    padding: 0;
    margin: 0;
    position: relative;
    top: 600px;
}


.container .page_Content {
left: 0;
}

.banner .header_info {
    height: 105px;
    margin-top:15px;
    margin-left: 15px;
    margin-bottom: 70px;
}
.header_info .info_Banner {
    display: none;
}
/**/
.banner .title_Banner {
position: relative;
width: 250px;
height: 57px;
color: #503314;
font-family: "Officina Serif C";
font-size: 30px;
font-weight: 700;
line-height: 30px;
text-align: left;
}

.banner, .complectation {
    margin-left: 0px;
}

.banner_img {
    width: 322px;
    height: 215px;
}

.img_1 img {
    width: 78px;
    height: 53px;
}
.img_2 img, .img_3 img , .img_4 img {
    width: 60px;
    height: 41px;
}


.first_floor img {
width: 154px;
height: 127px;
}

.second_floor img {
    width: 127px;
    height: 134px;
}

.banner .sector_main_imgs {
    display: grid;
    width: 320px;
    height: 477px;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 215px 87px auto;
    align-items: center;
    justify-items: center;
    grid-template-areas:
          "main main main main"
          "img1 img2 img3 img4"
          "first first second second";
      }

.main_info .complectation {
    width: 320px;
    display: flex;
    flex-direction: column;
}

.basic_complectation {
 margin-top: 850px;
 margin-bottom: 35px;
}

.basic_complectation .title, .optimal_complectation .title2 {
    width: 320px;
    text-align: left;
}
.basic_complectation, .optimal_complectation {
    width: 388px;
    height: 560px;
}
.basic_complectation .basic, .optimal_complectation .optimal {
    display: none;
}
.title .wrapper, .title2 .wrapper {
left: 20px;
}

ul.basic_complectation_info, ul.optimal_complectation_info {
    width: 320px;
}

.basic_price, .optimal_price {
width: 320px;
height: 100px;
}

.delivery {
    width: 321px; 
    margin-top: 1500px;
}
.delivery_content {
width: 321px;
height: 277px;
padding: 20px 10px 35px 10px;
box-sizing: border-box;
}

.delivery_content .title {
    width: 321px;
    font-size: 25px;
    text-align:left;
    margin-left: 20px;
}

.delivery_content .condition {
    width: 291px;
    height: 137px;
    font-weight: 300;
    text-align: left;
}


.delivery_content p img .cars {
    width: 73px;
    height: 35px;
    }

.delivery_content .img {
    width: 320px;
}
.delivery_content p img:nth-child(1) {
    display: none;
}
.delivery_content .price_delivery {
    width: 291px;
    height: 137px;
    font-size: 16px;
}

.project_description {
    width: 320px;
    height: 500px;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-top: 30px;
}
.project_description .title {
    text-align: left;
    width: 320px;
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 10px;
} .project_description .description {
    width: 320px;
    font-size: 16px;
    margin-left: 20px;
    margin-top: 10px;
}

.img_description {
    width: 322px;;
    height: 210px;
    margin-top: 80px;
}

.main_info .houses_built {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 0;
    padding: 0;
    order: 0;
    margin-left: 10px;
    }

    .houses_built .titles {
    width: 277px;
    height: 53px;
    margin-top: 80px;
    font-size: 22px;
    font-family: "Officina Serif C";
    font-weight: 700;
    text-align: left;
    margin-left: 15px;
    }

    .img1 {
        align-items: center;
        order: 1;
        margin-left: 10px;
    }
    .img5 {
    width: 320px !important;
    }
    .change {
        width: 300px;  
        height: 200px;
    }
    .img3 {
        margin-left: 10px;
        order: 3;
    }
    .btn-review {
        position: absolute;
        top: 0;
        right: 80px;
    }
    .btn-new {
        position: absolute;
        top: 27px;
        right: 80px;
    }
    .btn-contact {
    position: absolute;
        top: 54px;
        right: 80px;
    }

}

